// COLORS
$color-primary: #333333;
$color-red: #FF0000;
$text-color: #282828;
$text-black: #000;
$text-gray: #888;


// Container
$width-container: 1368px;
$p-container: 16px;

// FONTS
$font-roboto:'Roboto', sans-serif;

