.account {
  width: 321px;
  height: 793px;
  background-color: var(--color-white);
  position: absolute;
  z-index: 555555;
  right: 40px;
  top: 0;
  overflow-y: scroll;
  box-shadow: 4px -3px 27px 1px rgba(34, 60, 80, 0.2);
  display: none;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $color-red;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background:$color-red;
}
::-webkit-scrollbar-track {
  background: #fff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #fff;
}
::-webkit-scrollbar-track:active {
  background: #fff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.account__header {
  display: flex;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.46);
}
.account__img {
  margin-left: 8px;
  width: 48px;
  height: 48px;
}
.account__des {
  margin-left: 27px;
}
.account__name {
  font-weight: 500;
  font-size: 22px;
  line-height: 16px;
  color: var(--color-black);
  margin-bottom: 18px;
}
.account__googlemail {
  font-size: 14px;
  line-height: 16px;
  color: #1f3aca;
}
.account__list {
  margin-top: 12px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.46);
}
.account__item {
  display: flex;
  align-items: center;
  margin-left: 26px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.account__item img {
  width: 20px;
  height: 20px;
}
.account__icon {
  position: absolute;
  right: 24px;
  top: 8px;  
}
.account__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 29px;
  color: var(--text-gray);
  display: inline-block;
  margin-left: 22px;
  transition: color 0.2s ease;
}
.account__link:hover {
  color: var(--color-red);
}
.account__text {
  font-size: 16px;
  line-height: 29px;
  font-weight: 500;
  color: var(--text-gray);
  margin-left: 10px;
  padding-top: 12px;
  padding-bottom: 26px;
}
.account__dark-list {
  width: 190px;
  height: 176px;
  background-color:var(--color-white);
  position: absolute;
  z-index: 99999999;
  box-shadow: 4px 4px 15px -2px rgba(34, 60, 80, 0.2);
  display: none;
  right: 22px;
  top: 35px;
}
.account__dark-lists {
  margin-top: 50px;
}
.account__dark-item {
  margin-left: 30px;
  margin-top: 20px;
}
.account__dark-btn {
  border: none;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.2s ease;
}
.account__dark-btn:hover {
  color: var(--color-red);
}
.accblock {
  display: block;
}
.listblock {
  display: block;
}