.aside {
  height: calc(100vh - 70px);
  position: fixed;
  left: 0;
  bottom: 0px;
  display: flex;
  overflow: hidden;
  &__content {
    height: 100%;
    width: 72px;
  }
  &__btn {
    border: none;
    background-color: transparent;
    font-size: 22px;
    cursor: pointer;
    margin-right: 43px;
    color: var(--color-black);
  }
  &.aside__items {
    margin-bottom: 25px;
  }
  &__list {
    margin-top: 23px;
  }
  &__item {
    margin-bottom: 32px;
  }
  &__img {
    width: 25px;
    height: 21px;
    margin-bottom: 4px;
    cursor: pointer;
  }
  &__imgs {
    width: 25px;
    height: 25px;
    margin-bottom: 2px;
    cursor: pointer;
    display: none;  
  }
  &__link {
    display: block;
    font-size: 10px;
    line-height: 16px;
    color: var(--text-gray);
  }
  &__span {
    color: var(--color-red);
  }
  &__group {
    display: none;
    margin-top: 15px;
    overflow-x: hidden;
    height: 100vh;
    background-color:var(--color-white);
  }
  &__item-two {
    display: flex;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 3px;
    padding-left: 28px;
    cursor: pointer;
    &:hover {
      background-color: #c4c4c4;
    }
  }
  &__item-two:nth-child(3) {
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 12px;
  }
  &__item-two:nth-child(7) {
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 12px;
  }
  &__item-two:nth-child(9) {
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 12px;
  }
  &__item-two:nth-child(14) {
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 12px;
  }
  &__item-two:hover &__link-two {
    color: var(--color-red);
  }
  &__item-two--active {
    background-color: #c4c4c4;
  }
  &__link-two {
    font-weight: 500;
    font-size: 14px;
    line-height: 29px;
    color: var(--color-black);
    display: inline-block;
    margin-left: 32px;
  }
}
.wdth {
  width: 256px;
}
.aside-none {
  display: none;
}
.aside-block {
  display: block;
}
